body {
    background-image: url("background.png");
    
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: "75%"
}

h1 {
    text-align: center;
}

form {
    margin-left: 10px;
}

