<!DOCTYPE html>
<html lang="en"> 
<head>
  <title>Scotty Helps</title>
  <meta charset="utf-8"/>
  <link rel = "stylesheet"
        href = "{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <image id = "logo" src = "{{ url_for('static', filename='logo2.png') }}" width = 500px/>
  <h1> Welcome to Scotty Helps!</h1>
  <h2> Tell us what you want in your courses</h2>
  <form id="myForm">
      <div>
        <b>Year:</b>
        <select id="level">
          <option>Choose a year</option>
        </select>
      </div>
      <br>
      <div>
        <b>Semester:</b>
        <select id = "semester">
          <option>Choose a semester</option>
        </select>
      </div>
      <br>
      <div>
        <b>Department:</b>
        <select id="department">
          <option>Choose a department</option>
        </select>
      </div>
      <br>
      <div>
        <b>Unit Range:</b>
        <select id = "units">
          <option>Choose number of units</option> 
        </select>
      </div>
      <br>
      <div>
        <b>Type:</b>
        <select id = "type">
          <option>Choose type of course</option>
        </select>
      </div>
      <br>
    </form>
    <button onclick="goToTable()">Continue</button>
</body>
<script src = "{{ url_for('static', filename='script.js') }}"></script>
</html>